*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #A0522D; 
    --secondary-color: #87A96B;
    --background-color: #F5E6D3;
    --details-color: #D4A437;
    --accent-color: #C47A6D;
    
    --font-primary: 'Inter', system-ui, sans-serif;
    --font-secondary: 'Playfair Display', Georgia, serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}